@{
    ViewBag.Title = "View";
}
@model Model.MyAccountM
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>@Model.Str_StoreName</title>

    <link rel="stylesheet" href="/Content/amazeui.min.css">
    <link rel="stylesheet" href="/Content/app.css">
    <link rel="stylesheet" href="~/Content/public.css">
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="/Scripts/amazeui.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div data-am-sticky>
        <div class="header">
            <div class="am-u-sm-2 am-vertical-align" style="height:100%;text-align:center;">
                <img class="img_back am-vertical-align-middle" src="~/Images/back.png" />
                <text class="am-vertical-align-middle" style="font-size:16px;color:#ffffff;">返回</text>
            </div>
            <div class="am-u-sm-8 am-vertical-align" style="height:100%;text-align:center;">
                <text class="am-vertical-align-middle" style="font-size:16px;color:#ffffff;">我的资产</text>
            </div>
            <div class="am-u-sm-2" style="height:100%;">
            </div>
        </div>
    </div>
    <div class="am-g" style="padding:15px!important;">
        <div class="am-u-sm-12" style="height:120px;background-color:#5E5C5E;border-radius:7px;">
            <div class="am-u-sm-4 am-vertical-align" style="height:120px;text-align:center;">
                <img src="@Model.headerimg" class="am-vertical-align-middle" style="width:80px;height:80px;border-radius:40px;" onclick="GoMyInfo()">
            </div>
            <div class="am-u-sm-8 am-vertical-align" style="height:120px;">

                <text class="am-vertical-align-middle" style="color:#fff;">@Model.str_CusName<br />@Model.strmobile</text>
            </div>
        </div>
    </div>
    <hr />
    <div class="am-g" style="background:#F5F5F5;">
        <div class="am-u-sm-3 am-vertical-align" style="height:80px;text-align:center;" onclick="GoSurplus()">
            <text class="am-vertical-align-middle" style="font-weight:bold;">@Model.Ing_SurplusIntegral<br />积分</text>

        </div>
        <div class="am-u-sm-3 am-vertical-align" style="height:80px;text-align:center;" onclick="GoChargeMon()">
            <text class="am-vertical-align-middle" style="font-weight:bold;">@Model.dec_SurplusMoney<br />储值金</text>

        </div>
        <div class="am-u-sm-3 am-vertical-align" style="height:80px;text-align:center;" onclick="GoCoupon()">
            <text class="am-vertical-align-middle" style="font-weight:bold;">@Model.coupon<br />抵用券</text>

        </div>
        <div class="am-u-sm-3 am-vertical-align" style="height:80px;text-align:center;" onclick="GoWechatWallet()">
            <text class="am-vertical-align-middle" style="font-weight:bold;">@Model.dec_WechatPrice<br />微信钱包</text>

        </div>
    </div>
    <hr />
    <div class="am-g" style="padding:0 20px 0 20px!important;">
        <div class="am-u-sm-12 " style="height:60px;" onclick="GoOrder()">
            <div class="am-u-sm-11 am-vertical-align" style="height:60px;">
                <img class="am-vertical-align-middle" src="~/Images/order.png" style="height:25px;width:25px;" />
                <span class="am-vertical-align-middle" style="font-weight:bold;margin-left:10px;">我的订单</span>
            </div>
            <div class="am-u-sm-1 am-vertical-align" style="height:60px;text-align:center;">
                <span class="am-icon-angle-right am-vertical-align-middle"></span>
            </div>
        </div>
        <div class="am-u-sm-12" style="height:1px;border-top:1px solid #d5d5d5;">
        </div>
        <div class="am-u-sm-12 " style="height:60px;" onclick="GoChangePayPwd()">
            <div class="am-u-sm-11 am-vertical-align" style="height:60px;">
                <img class="am-vertical-align-middle" src="~/Images/pwd.png" style="height:25px;width:25px;" />
                <span class="am-vertical-align-middle" style="font-weight:bold;margin-left:10px;">储值支付密码</span>
            </div>
            <div class="am-u-sm-1 am-vertical-align" style="height:60px;text-align:center;">
                <span class="am-icon-angle-right am-vertical-align-middle"></span>
            </div>
        </div>
        <div class="am-u-sm-12" style="height:1px;border-top:1px solid #d5d5d5;">
        </div>
        <div class="am-u-sm-12 " style="height:60px;" onclick="GoChangeVipPwd()">
            <div class="am-u-sm-11 am-vertical-align" style="height:60px;">
                <img class="am-vertical-align-middle" src="~/Images/pwd.png" style="height:25px;width:25px;" />
                <span class="am-vertical-align-middle" style="font-weight:bold;margin-left:10px;">会员登录密码</span>
            </div>
            <div class="am-u-sm-1 am-vertical-align" style="height:60px;text-align:center;">
                <span class="am-icon-angle-right am-vertical-align-middle"></span>
            </div>
        </div>
        <div class="am-u-sm-12" style="height:1px;border-top:1px solid #d5d5d5;">
        </div>
        <div class="am-u-sm-12 " style="height:60px;" onclick="GoHotel()">
            <div class="am-u-sm-11 am-vertical-align" style="height:60px;">
                <img class="am-vertical-align-middle" src="~/Images/community.png" style="height:25px;width:25px;" />
                <span class="am-vertical-align-middle" style="font-weight:bold;margin-left:10px;">会员预订</span>
            </div>
            <div class="am-u-sm-1 am-vertical-align" style="height:60px;text-align:center;">
                <span class="am-icon-angle-right am-vertical-align-middle"></span>
            </div>
        </div>
        <div class="am-u-sm-12" style="height:1px;border-top:1px solid #d5d5d5;">
        </div>
        <div class="am-u-sm-12 " style="height:60px;" onclick="GoYk()">
            <div class="am-u-sm-11 am-vertical-align" style="height:60px;">
                <img class="am-vertical-align-middle" src="~/Images/ykq.png" style="height:25px;width:25px;" />
                <span class="am-vertical-align-middle" style="font-weight:bold;margin-left:10px;">智能遥控</span>
            </div>
            <div class="am-u-sm-1 am-vertical-align" style="height:60px;text-align:center;">
                <span class="am-icon-angle-right am-vertical-align-middle"></span>
            </div>
        </div>
        <div class="am-u-sm-12" style="height:1px;border-top:1px solid #d5d5d5;">
        </div>
    </div>
    <script>
        function GoMyInfo() {
            location.href = "/MyAccount/MyInfo?storeid=" + @Model.storeid;
        }
        function GoSurplus(){
            location.href = "/MyAccount/SurplusIntegral?storeid=" + @Model.storeid;
        }
        function GoChargeMon(){
            location.href = "/MyAccount/ChargeMon?storeid=" + @Model.storeid;
        }
        function GoOrder(){
            location.href = "/MyAccount/Order?storeid=" + @Model.storeid;
        }
        function GoCoupon(){
            location.href = "/MyAccount/Coupon?storeid=" + @Model.storeid;
        }
        function GoWechatWallet(){
            location.href = "/MyAccount/WechatWallet?storeid=" + @Model.storeid;
        }
        function GoChangePayPwd(){
            location.href = "/MyAccount/ChangePayPwd?storeid=" + @Model.storeid;
        }
        function GoChangeVipPwd(){
            location.href = "/MyAccount/ChangeVipPwd?storeid=" + @Model.storeid;
        }
        function GoHotel(){
            location.href = "/Hotel/Index?storeid=" + @Model.storeid;
        }
        function GoYk(){
            location.href = "/Smart/Index?storeid=" + @Model.storeid;
        }
    </script>
</body>
</html>

