@{
    Layout = null;
}
@using Model.SmartControl
@model Model.SmartControl.ControlViewM
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <script src="/scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/smart.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/new/style.css" rel="stylesheet">
    <link href="/Content/new/style1.css" rel="stylesheet">
    <script src="/Scripts/Dialog.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/Content/weui.css" />
    <link rel="stylesheet" href="/Content/jquery.toast.css">
    <script type="text/javascript" src="~/Scripts/jquery.toast.js"></script>
    <script src="/scripts/jquery-1.10.2.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>

    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>


    <link rel="stylesheet" type="text/css" href="/Content/date/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/Content/date/default.css">
    <link rel="stylesheet" href="/Content/date/daterangepicker.css" />
    <script src="/Scripts/date/moment.min.js"></script>
    <script src="/Scripts/date/jquery.daterangepicker.js"></script>
    <script src="/Scripts/date/seldate.js"></script>
    <title>智能遥控</title>
</head>
<body style="background-color:#F0EFF5;">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-lg-2 col-sm-2 col-md-2 back">
                <img  class="img_back" src="~/Images/smart/left.png" ontouchend="back_home()" />
            </div>
            <div class="col-xs-8 col-lg-8 col-sm-8 col-md-2 title">
                <text style="font-size:22px;color:#ffffff;">@Model.nickname</text>
            </div>
            <div class="col-xs-2 col-lg-2 col-sm-2 col-md-2 menu">

            </div>
        </div>
        <div class="row normalsize" style="padding:20px 20px 0 20px;">
            <div class="col-xs-4 col-lg-4 col-sm-4 col-md-4 text-center">
                @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.TV.ToString()))
                {
                <img ontouchstart="xh_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.TV')" ontouchend="xh_up()" id="key_xh" src="~/Images/chtv/信号.png" />
                }
                else
                {
                <img src="~/Images/chtv/信号-h.png" />
                }
                <p class="p1">信号源</p>
            </div>
            <div class="col-xs-4 col-lg-4 col-sm-4 col-md-4 text-center">
                @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.MUTE.ToString()))
                {
                <img ontouchstart="jy_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.MUTE')" ontouchend="jy_up()" id="key_jy" src="~/Images/chtv/静音.png" />
                }
                else
                {
                <img src="~/Images/chtv/静音-h.png" />
                }
                <p class="p1">静音</p>
            </div>
            <div class="col-xs-4 col-lg-4 col-sm-4 col-md-4 text-center">
                @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.POWER.ToString()))
                {
                <img ontouchstart="dy_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.POWER')" ontouchend="dy_up()" id="key_dy" src="~/Images/chtv/关闭.png" />
                }
                else
                {
                <img src="~/Images/chtv/关闭-h.png" />
                }
                <p class="p1">电源</p>
            </div>
        </div>
        <div class="row" style="padding:10px 20px 0 20px;">
            <div class="col-xs-4 col-lg-4 col-sm-4 col-md-4 text-center">
                <div class="div_center" style="width:55px;position:relative;">
                    @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.VOL2.ToString()))
                    {
                    <img style="width:55px;height:65px;" ontouchstart="ylj_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.VOL2')" ontouchend="ylj_up()" id="key_ylj" src="~/Images/chtv/音量加.png" /><br />
                    }
                    else
                    {
                    <img style="width:55px;height:65px;" src="~/Images/chtv/音量加-h.png" /><br />
                    }
                    @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.VOL1.ToString()))
                    {
                    <img style="width:55px;height:65px;margin-top:-1px;" ontouchstart="ylf_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.VOL1')" ontouchend="ylf_up()" id="key_ylf" src="~/Images/chtv/音量减.png" />
                    }
                    else
                    {
                    <img style="width:55px;height:65px;margin-top:-1px;" src="~/Images/chtv/音量减-h.png" />
                    }
                    <p style="position:absolute;top:54px;left:12px;">音量</p>
                </div>
            </div>
            <div class="col-xs-4 col-lg-4 col-sm-4 col-md-4 text-center">
                @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.BACK.ToString()))
                {
                <img class="imgnormalsize" ontouchstart="fh_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.BACK')" ontouchend="fh_up()" id="key_fh" src="~/Images/chtv/返回.png" /><br />
                }
                else
                {
                <img class="imgnormalsize" src="~/Images/chtv/返回-h.png" /><br />
                }

                <img class="imgnormalsize" ontouchstart="num_down()" ontouchend="num_up('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@Model.nickname','@Model.Ing_CustID','@Model.Ing_MasterID','@Model.str_CustName','@Model.str_OpenID','@Model.str_RoomNo')" id="key_num" src="~/Images/chtv/123.png" style="margin-top:20px;" />

            </div>

            <div class="col-xs-4 col-lg-4 col-sm-4 col-md-4 text-center">
                <div class="div_center" style="width:55px;position:relative;">
                    @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.CH1.ToString()))
                    {
                    <img style="width:55px;height:65px;" ontouchstart="pdj_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.CH1')" ontouchend="pdj_up()" id="key_pdj" src="~/Images/chtv/频道加.png" /><br />
                    }
                    else
                    {
                    <img style="width:55px;height:65px;" src="~/Images/chtv/频道加-h.png" /><br />
                    }
                    @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.CH2.ToString()))
                    {
                    <img style="width:55px;height:65px;margin-top:-1px;" ontouchstart="pdf_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.CH2')" ontouchend="pdf_up()" id="key_pdf" src="~/Images/chtv/频道减.png" />
                    }
                    else
                    {
                    <img style="width:55px;height:65px;margin-top:-1px;" src="~/Images/chtv/频道减-h.png" />
                    }
                    <p style="position:absolute;top:54px;left:12px;">频道</p>
                </div>
            </div>

        </div>
        <div class="row normalsize" style="padding:10px 20px 0 20px;">
            <div class="col-xs-4 col-lg-4 col-sm-4 col-md-4 text-center">
                @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.MENU.ToString()))
                {
                <img ontouchstart="cd_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.MENU')" ontouchend="cd_up()" id="key_cd" src="~/Images/chtv/菜单.png" />
                }
                else
                {
                <img src="~/Images/chtv/菜单-h.png" />
                }
                <p class="p1">菜单</p>
            </div>
            <div class="col-xs-4 col-lg-4 col-sm-4 col-md-4 text-center">
                <p style="font-weight:bold;">数字</p>
            </div>
            <div class="col-xs-4 col-lg-4 col-sm-4 col-md-4 text-center">
                @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.LASTCH.ToString()))
                {
                <img ontouchstart="hk_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.LASTCH')" ontouchend="hk_up()" id="key_hk" src="~/Images/chtv/回看.png" />
                }
                else
                {
                <img src="~/Images/chtv/回看-h.png" />
                }
                <p class="p1">回看</p>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <div class="tv_control2 div_center" style="position:relative;width:270px;height:165px;">
                    @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.UP.ToString()))
                    {
                    <img style="width:99px;height:41px;" ontouchstart="top_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.UP')" ontouchend="top_up()" id="key_top" src="~/Images/chtv/top.png" class="chtv_top" />
                    }
                    else
                    {
                    <img style="width:99px;height:41px;" src="~/Images/chtv/top-h.png" class="chtv_top" />
                    }
                    @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.LEFT.ToString()))
                    {
                    <img style="width:41px;height:99px;" ontouchstart="left_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.LEFT')" ontouchend="left_up()" id="key_left" src="~/Images/chtv/left.png" class="chtv_left" />
                    }
                    else
                    {
                    <img style="width:41px;height:99px;" src="~/Images/chtv/left-h.png" class="chtv_left" />
                    }
                    @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.OK.ToString()))
                    {
                    <img style="width:64px;height:64px;" ontouchstart="ok_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.OK')" ontouchend="ok_up()" id="key_ok" src="~/Images/chtv/ok.png" class="chtv_ok" />
                    }
                    else
                    {
                    <img style="width:64px;height:64px;" src="~/Images/chtv/ok-h.png" class="chtv_ok" />
                    }
                    @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.RIGHT.ToString()))
                    {
                    <img style="width:41px;height:99px;" ontouchstart="right_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.RIGHT')" ontouchend="right_up()" id="key_right" src="~/Images/chtv/right.png" class="chtv_right" />
                    }
                    else
                    {
                    <img style="width:41px;height:99px;" src="~/Images/chtv/right-h.png" class="chtv_right" />
                    }
                    @if (Model.response.keylabel7.KeyLabel7.ContainsKey(TvKeyM.DOWN.ToString()))
                    {
                    <img style="width:99px;height:41px;" ontouchstart="bottom_down('@Model.gatewayid','@Model.contollerid','@Model.hotelid','@TvKeyM.DOWN')" ontouchend="bottom_up()" id="key_bottom" src="~/Images/chtv/bottom.png" class="chtv_bottom" />
                    }
                    else
                    {
                    <img style="width:99px;height:41px;" src="~/Images/chtv/bottom-h.png" class="chtv_bottom" />
                    }
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var powercount = 0;
        var source = 0;
        //自定义弹框
        function Toast(msg, duration) {
            duration = isNaN(duration) ? 3000 : duration;
            var m = document.createElement('div');
            m.innerHTML = msg;
            m.style.cssText = "width: 50%;min-width: 100px;opacity: 0.7;height: 30px;color: rgb(255, 255, 255);line-height: 30px;text-align: center;border-radius: 5px;position: fixed;top: 90%;left: 25%;z-index: 999999;background: rgb(30, 30, 30);font-size: 12px;";
            document.body.appendChild(m);
            setTimeout(function () {
                var d = 0.5;
                m.style.webkitTransition = '-webkit-transform ' + d + 's ease-in, opacity ' + d + 's ease-in';
                m.style.opacity = '0';
                setTimeout(function () { document.body.removeChild(m) }, d * 1000);
            }, duration);
        }
        function controlDevice(gatewayid, contollerid, hotelid, keyid, param) {
            var formParam = {
                gatewayid: gatewayid, hotelid: hotelid, contollerid: contollerid,
                type: 0, keyid: keyid, param: param, nickname: '@Model.nickname', str_RoomNo: '@Model.str_RoomNo',
                Ing_CustID: '@Model.Ing_CustID', str_CustName: '@Model.str_CustName', str_OpenID: '@Model.str_OpenID', Ing_MasterID: '@Model.Ing_MasterID'
            };
            console.log(formParam);
            $.ajax({
                type: 'post',
                url: '/Smart/ControlDevice',// 跳转到 action
                data: formParam,
                cache: false,
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data.result == "2003") {

                    } else {
                        //Dialog("", data.msg, 1, "");
                        Toast(data.msg, 3000);
                    }
                },
                error: function () {
                    //Dialog("", "异常！", 1, "");
                    Toast("异常！", 3000);

                }
            });
        }
        function back_home() {
            var url = "/Smart/Index";
            window.location.href = url;
        }
        function xh_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_xh");
            img.src = "../../Images/chtv/信号-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function xh_up() {
            var img = document.getElementById("key_xh");
            img.src = "../../Images/chtv/信号.png";
        }
        function jy_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_jy");
            img.src = "../../Images/chtv/静音-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function jy_up() {
            var img = document.getElementById("key_jy");
            img.src = "../../Images/chtv/静音.png";
        }
        function dy_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_dy");
            img.src = "../../Images/chtv/关闭-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function dy_up() {
            var img = document.getElementById("key_dy");
            img.src = "../../Images/chtv/关闭.png";
        }
        function ylj_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_ylj");
            img.src = "../../Images/chtv/音量加-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function ylj_up() {
            var img = document.getElementById("key_ylj");
            img.src = "../../Images/chtv/音量加.png";
        }
        function ylf_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_ylf");
            img.src = "../../Images/chtv/音量减-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function ylf_up() {
            var img = document.getElementById("key_ylf");
            img.src = "../../Images/chtv/音量减.png";
        }
        function fh_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_fh");
            img.src = "../../Images/chtv/返回-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function fh_up() {
            var img = document.getElementById("key_fh");
            img.src = "../../Images/chtv/返回.png";
        }
        function num_down() {
            var img = document.getElementById("key_num");
            img.src = "../../Images/chtv/123-c.png";

        }
        function num_up(gatewayid, controllerid, storeid, nickname, custid, masterid, custname, openid, roomno) {
            var img = document.getElementById("key_num");
            img.src = "../../Images/chtv/123.png";
            var url = "/Smart/CHTv2?gatewayid=" + gatewayid + "&controllerid=" + controllerid + "&storeid=" + storeid + "&nickname=" + nickname+
                "&custid=" + custid + "&custName=" + custname + "&roomNo=" + roomno + "&masterid=" + masterid + "&openid="+openid;
            window.location.href = url;
        }
        function pdj_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_pdj");
            img.src = "../../Images/chtv/频道加-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function pdj_up() {
            var img = document.getElementById("key_pdj");
            img.src = "../../Images/chtv/频道加.png";
        }
        function pdf_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_pdf");
            img.src = "../../Images/chtv/频道减-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function pdf_up() {
            var img = document.getElementById("key_pdf");
            img.src = "../../Images/chtv/频道减.png";
        }
        function cd_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_cd");
            img.src = "../../Images/chtv/菜单-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function cd_up() {
            var img = document.getElementById("key_cd");
            img.src = "../../Images/chtv/菜单.png";
        }
        function hk_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_hk");
            img.src = "../../Images/chtv/回看-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function hk_up() {
            var img = document.getElementById("key_hk");
            img.src = "../../Images/chtv/回看.png";
        }
        function top_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_top");
            img.src = "../../Images/chtv/top-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function top_up() {
            var img = document.getElementById("key_top");
            img.src = "../../Images/chtv/top.png";
        }
        function left_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_left");
            img.src = "../../Images/chtv/left-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function left_up() {
            var img = document.getElementById("key_left");
            img.src = "../../Images/chtv/left.png";
        }
        function ok_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_ok");
            img.src = "../../Images/chtv/ok-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function ok_up() {
            var img = document.getElementById("key_ok");
            img.src = "../../Images/chtv/ok.png";
        }
        function right_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_right");
            img.src = "../../Images/chtv/right-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function right_up() {
            var img = document.getElementById("key_right");
            img.src = "../../Images/chtv/right.png";
        }
        function bottom_down(gatewayid, contollerid, hotelid, keyid) {
            var img = document.getElementById("key_bottom");
            img.src = "../../Images/chtv/bottom-c.png";
            controlDevice(gatewayid, contollerid, hotelid, keyid, "1");
        }
        function bottom_up() {
            var img = document.getElementById("key_bottom");
            img.src = "../../Images/chtv/bottom.png";
        }
    </script>
</body>
</html>
